* {
  box-sizing: border-box;
}

h5 {
  margin: 0;
  padding: 0;
}

.suggestion-list {
  background: white;
  padding: 1px;
  border: 1px solid rosybrown;
  border-radius: 4px;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  text-align: center;
}

.suggestion-list h5 {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 2px;
  border-bottom: 1px solid #787878;
  font-weight: 700;
  color: rgba(0, 123, 255, 0.7);
  cursor: pointer;
}

.suggestion-list h5:hover {
  background: rgba(120, 120, 120, 0.6);
  background-clip: padding-box;
}


.suggestion-list h5:last-of-type {
  border-bottom: none;
}
