<div class="row m-0 p-0">
  <div class="col-xs-12 col-md-6 col-lg-6 offset-md-4">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-9 form-group">
          <label for="name">Item Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 ngModel
                 autocomplete="off">
          <div *ngIf="suggestions" class="suggestion-list" (click)="setValue($event)">
            <ng-container *ngFor="let item of suggestions ">
              <h5>{{item.name}}</h5>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
